* {
  margin: 0;
  left: 0;
  right: 0;
}

.header {
  background: linear-gradient(to left, #0066eb 0%, #ff8ab3 69%);
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  padding: 1em 1em;
}

.links {
  display: flex;
  gap: 20px;
  color: white;
  outline: none;
}

.links h1 {
  color: whitesmoke;
  font-size: 1em;
  font-weight: 500;
}

.links button {
  box-shadow: white 0 0px 10px, #ffffff36 0 2px 20px;
  letter-spacing: 1px;
}
